/raw_data

*/crash_data_normalized.pkl.gz
*/crash_data_normalized_with_node_graph.pkl.gz
*/danger_by_node_id.pkl.gz
*/node_id_census_tract_key.pkl.gz
*/target_map.graphml
*/target_map_consolidated.graphml
*/trip_data_normalized.pkl.gz
*/unified_dataset.pkl.gz
*/weather_data_normalized.pkl.gz
*/cache/